<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1">Log In</h4>
                </div>

                <form action="/auth/login" method="POST">
                  <div class="form-outline mb-4">
                    <input type="email" name="email" class="form-control" placeholder="Your email" />
                    <label class="form-label">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="password" class="form-control" placeholder="Your password" />
                    <label class="form-label">Password</label>
                  </div>

                  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log In</button>

                  {{#if errorMessage}}
                  <p class="error">{{errorMessage}}</p>
                  {{/if}}
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="px-3 py-4 p-md-5 mx-md-4">
                <div class="px-3 py-4 p-md-5 mx-md-4">
                  <div class="background-image"></div>
                
                </div>

                <h4 class="mb-4">Welcome to Skill Swap Community!</h4>
                <p class="small mb-0">OurSkillCommunity is a platform where you can showcase your skills and talents,
                  connect with like-minded people, and learn from others. Together, we can grow and contribute to a
                  vibrant and diverse community.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>