<section class="skill-details">
    <h2>{{title}}</h2>
    <p>
        Category: {{category.type}} <br />
        Location: {{location}} <br />
    </p>
       <img src="{{this.myFile}}">
</section>

<a href="/skills">Back</a>